/* ================================================ 1024 ======================================= */

@media only screen and (max-width : 1100px) {

	.swiper-main, .swiper-container, .swiper-slide, .swiper-slide img, .swiper-slide {
		height: 400px !important;
	}

	.page-image {
		height: 400px;
	}

}



@media only screen and (max-width : 900px) {

	.home.swiper-slide {
	  height: 390px !important;
	}

	.single-rooms .swiper-main, .single-rooms .swiper-container, .single-rooms .swiper-slide, .single-rooms .swiper-slide img, .single-rooms .swiper-slide {
		height: 360px !important;
	}

	.page-template-page-gallery .swiper-main, .page-template-page-gallery .swiper-container, .page-template-page-gallery .swiper-slide, .page-template-page-gallery .swiper-slide img, .page-template-page-gallery .swiper-slide {
		height: 360px !important;
	}	

	.page-template-page-gallery-subpage .swiper-main, .page-template-page-gallery-subpage .swiper-container, .page-template-page-gallery-subpage .swiper-slide, .page-template-page-gallery-subpage .swiper-slide img, .page-template-page-gallery-subpage .swiper-slide {
		height: 360px !important;
	}




	.page-image {
		height: 350px !important;
	}
}



/* ############################################### 420px AND BELOW #################################################### */

@media only screen and (max-width : 420px) {

	.ns-box .fa-exclamation-triangle {
	  float: none;
	  font-size: 18px;
	  margin-left: 14px;
	}

	.ns-box strong, .ns-box .ns-box-inner p {
	  font-size: 13px;
	}

}