.swiper-main, .swiper-container, .swiper-slide, .swiper-slide img {
	height:346px;
}

.pagination1 {
	text-align: center;
	margin-top: 5px;
}

.pagination1 {
  text-align: center;
  margin-top: 0;
  position: relative;
  z-index: 999999;
  bottom: 30px;
}



/* Pagination */

.pagination1 .swiper-pagination-switch {
    border-radius: 7px;
    box-shadow: 0 0 3px #fff inset;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 3px;
    width: 12px;
}

.pagination1 .swiper-active-switch {
	background: #fcc46f;
}